<a href="https://colab.research.google.com/gist/marcusRB/7bec6caa6108824fe98bf28b57584420/caso-1-bancapy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Caso 1 - Banca

  PyBank

En este desafío, tiene la tarea de crear un script de Python para analizar los registros financieros de su empresa. Proporcionará un conjunto de datos financieros llamados `budget_data.csv`. 
    
El conjunto de datos se compone de dos columnas: Fecha y Ganancias/Pérdidas. (Afortunadamente, su empresa tiene estándares de contabilidad bastante laxos, por lo que los registros son simples).

Su tarea es crear un script de Python que analice los registros para calcular cada uno de los siguientes:

- El número total de meses incluidos en el conjunto de datos

- El monto neto total de "Ganancias / Pérdidas" durante todo el período

- El cambio promedio en "Ganancias / Pérdidas" entre meses durante todo el período

- El mayor aumento en las ganancias (fecha y monto) durante todo el período

- La mayor disminución de pérdidas (fecha e importe) en todo el período

- Como ejemplo, su análisis debería ser similar al siguiente:

Análisis financiero
- Meses Totales: 86
- Total: $ 38382578
- Cambio Promedio: $ -2315.12
- Mayor Incremento de Utilidades: Feb-2012 ($ 1926 159)
- Mayor Disminución en Utilidades: Sep-2013 ($ -2196167)

Además, su secuencia de comandos final debe imprimir el análisis en el terminal y exportar un archivo de texto con los resultados.

In [22]:
import pandas
data = pandas.read_csv('https://raw.githubusercontent.com/marcusRB/IDbootcamps_DataScience_student_PT_10201/master/dataset/bank_budget_data.csv')
meses = data.shape[0]
tot = sum(data['Profit/Losses'])
for n in range(meses-1):
    data.loc[n+1, 'Profit/Losses previus month'] = data.loc[n, 'Profit/Losses']
data['change'] = data['Profit/Losses'] - data['Profit/Losses previus month']
promedio = round(data.change.mean(), 2)
maxIncr = data.change.max()
maxIncrDate = data['Date'][data['change']==maxIncr].values[0]
maxDism = data.change.min()
maxDismDate = str(data['Date'][data['change']==maxDism]).split()[1]

print(f'Meses Totales: {meses}')
print(f'Total: {tot} $')
print(f'Cambio Promedio: {promedio} $')
print(f'Mayor Incremento de Utilidades: {maxIncrDate} ({maxIncr} $)')
print(f'Mayor Disminución en Utilidades: {maxDismDate} ({maxDism} $)')
data

Meses Totales: 86
Total: 38382578 $
Cambio Promedio: -2315.12 $
Mayor Incremento de Utilidades: Feb-2012 (1926159.0 $)
Mayor Disminución en Utilidades: Sep-2013 (-2196167.0 $)

        Date  Profit/Losses  Profit/Losses previus month    change
0   Jan-2010         867884                          NaN       NaN
1   Feb-2010         984655                     867884.0  116771.0
2   Mar-2010         322013                     984655.0 -662642.0
3   Apr-2010         -69417                     322013.0 -391430.0
4   May-2010         310503                     -69417.0  379920.0
..       ...            ...                          ...       ...
81  Oct-2016         102685                     768450.0 -665765.0
82  Nov-2016         795914                     102685.0  693229.0
83  Dec-2016          60988                     795914.0 -734926.0
84  Jan-2017         138230                      60988.0   77242.0
85  Feb-2017         671099                     138230.0  532869.0

[86 rows x 4 columns]